#the-input {
    padding:0.5rem 1rem;
    border: 2.5px solid black;
    /* background-color: rgba(249, 249, 249, 0); */
    background-color: rgba(249, 249, 249, 0.5);
    /* opacity: 50%; */
}

#the-input:hover {
    border-color: #5779FF;
    border-radius: 0.25rem;
}